footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e1e2e4;
    background-color: $drawer-color;
    .attribution {
        text-align: center;
        line-height: 20px;
      }
    
    .attribution a {
        color:#e1e2e4;
        text-decoration: none;
    }
    
    .attribution a:hover {
        text-decoration: underline;
    }
}