body {
    font-family: $ff-body;
    font-weight: $fw-body;
}

.preview-section {
    &__card {
        h2 {
            font-family: $ff-heading;
            font-size: 3rem;
            text-transform: uppercase;
        }

        .learn-more {
            text-decoration: none;
            text-align: center;
            line-height: 2.7rem;
        }
    }
}