%container {
    max-width: 78rem;
    margin: 0 auto;
    padding: 4rem;

    @media (max-width: 600px) {
        padding: 3.5rem 1.5rem;
    }
}

%btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 18rem;
}

%become-full-width-in-limited-width-parent {
    /* https://css-tricks.com/full-width-containers-limited-width-parents */
    width: 100vw;
    position: absolute;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}