// Colors

// Primary
$Light-red: hsl(356, 100%, 66%); // CTA text
$Very-light-red: hsl(355, 100%, 74%); // CTA hover background
$Very-dark-blue: hsl(208, 49%, 24%); // headings

// Neutral
$White: hsl(0, 0%, 100%); // text
$Grayish-blue: hsl(240, 2%, 79%); // footer text
$Very-dark-grayish-blue: hsl(207, 13%, 34%); // body copy
$Very-dark-black-blue: hsl(240, 10%, 16%); // footer background

// Gradient

// Background gradient - Intro/CTA mobile nav:
$Very-light-red-grad: hsl(13, 100%, 72%);
$Light-red-grad: hsl(353, 100%, 62%);

// Background gradient - body:
$Very-dark-gray-blue-grad: hsl(237, 17%, 21%);
$Very-dark-desaturated-blue-grad: hsl(237, 23%, 32%);

// Typography
$fs-body: 16px;
$ff-op: 'Overpass', sans-serif;
$ff-ub: 'Ubuntu', sans-serif;
$fw-op-light: 300;
$fw-op-sb: 600;
$fw-ub-reg: 400;
$fw-ub-med: 500;
$fw-ub-bold: 700;

// Box shadow
$smooth-bs: 
0 2.8px 2.2px rgba(0, 0, 0, 0.034),
0 6.7px 5.3px rgba(0, 0, 0, 0.048),
0 12.5px 10px rgba(0, 0, 0, 0.06),
0 22.3px 17.9px rgba(0, 0, 0, 0.072),
0 41.8px 33.4px rgba(0, 0, 0, 0.086),
0 100px 80px rgba(0, 0, 0, 0.12)
;

// Border radius
$border-rad: 6rem;