// Primary
$Blue: hsl(223, 87%, 63%);

// Secondary
$Pale-Blue: hsl(223, 100%, 88%);
$Light-Red: hsl(354, 100%, 66%);

// Neutral
$Gray: hsl(0, 0%, 59%);
$Very-Dark-Blue: hsl(209, 33%, 12%);

// Typography
$fs-body: 20px;
$ff-body: 'Libre Franklin', sans-serif;
$fw-light: 300;
$fw-sb: 600;
$fw-bold: 700;

// Break points
$bp-1: 710px;
$bp-2: 450px;