footer {
    height: 100px;
    display: flex;
    margin-top: 4em;
    align-items: center;
    justify-content: center;
    color: #c5c8d4;
    background-color: #333637;
    .attribution {
        text-align: center;
        line-height: 1.25em;
        font-size: 1em;
        font-weight: $fw-reg;
      }
    
    .attribution a {
        color: #c5c8d4;
        text-decoration: none;
    }
    
    .attribution a:hover {
        text-decoration: underline;
    }
}