// Primary
$Red: hsl(0, 100%, 74%);
$Green: hsl(154, 59%, 51%);

// Accent
$Blue: hsl(248, 32%, 49%);

// Neutral
$Dark-Blue: hsl(249, 10%, 26%);
$Grayish-Blue: hsl(246, 25%, 77%);

// Typography
$fs-body: 16px;
$ff-body: 'Poppins', sans-serif;
$fw-reg: 400;
$fw-med: 500;
$fw-sb: 600;
$fw-bold: 700;

//Break points
$bp-1: 963px;
$bp-2: 500px;
$bp-3: 463px;
$bp-4: 375px;
$bp-5: 372px;