.preview-section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 3rem 1rem;
    background-color: $Very-light-gray;

    @media (min-width: $bp-2 + 1) and (max-width: $bp-1) {
        gap: 2rem;
    }

    &__card {
        flex: 0 1 20rem;
    }
}