//// Colors
// Primary
$Violet: hsl(257, 40%, 49%);
$Soft-Magenta: hsl(300, 69%, 71%);


//// Typography

// Headings
$ff-heading: 'Poppins', sans-serif;
$fw-heading-reg: 400;
$fw-heading-sb: 600;

// Body
$ff-body: 'Open Sans', sans-serif;
$fw-body-reg: 400;

//// Footer
$footer-bg: #00252e;
$footer-text-color: #e1e8ee;

//// Breakpoints
$bp-1: 1190px;
$bp-2: 580px;
$bp-3: 510px;