footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e1e2e4;
    background-color: $Dark-Blue;
    .attribution {
        text-align: center;
        line-height: 1.25em;
        font-size: 0.5em;
        font-weight: $fw-light;
      }
    
    .attribution a {
        color:#e1e2e4;
        text-decoration: none;
    }
    
    .attribution a:hover {
        text-decoration: underline;
    }
}